body{
    background-color: rgb(236, 250, 253);
}
.containerA{
    margin-left: 5%;
    margin-right: 5%;
}
#photos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}
#photos img{
width: 100%;
}
.sticker_css{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
 .sticker_css img{
  width: 100%;
} 
#sidebar {
    width: 30%;
    margin: 0%;
  }
.main{
   width: 70%;
   margin: 0%;
}
.card{
    width: 80%;
    margin: auto;
 }

.buttons{
    display: grid;
    grid-template-columns: (3,1fr);
    margin-right: 30%;
    margin-left: 30%;
 
 }
#video{
    width: 100%;
}

/* input[type="radio"][id^="cb"] {
    display: none;
  }
   */
   .sticker_css label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  /* #stickers_uploads label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
  } */
  #photos label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: rgb(39, 61, 255);
    transform: scale(1);
    z-index: 1;
  }
  
  :checked + label img {
    transform: scale(1);
    box-shadow: 0 0 5px #333;
    z-index: 1;
  }
  /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}
.logged_in_user {
  padding: 10px 30px 0px;
}
i {
  color: blue;
}